
body {
	/*font-size: 62.5%;*/
	font-family: Helvetica, sans-serif;
	/*background: url(images/stripe.png) repeat;*/
	/*text-align: center;*/
	padding-top: 30px;
  background-color: #d3d3d3
}

* {
	/*border: 1px red dotted;*/
}

#nav {
	width:456px; /* 6px because of borders */
	margin:0 auto;
	list-style:none;
	margin-bottom: 50px;
}
#nav li {
	float:left;
	/*border: 1px solid #000;*/
}
#nav a {
	display:block;
	text-align:center;
	width:150px; /* fixed width */
	text-decoration:none;
	color: black;
}
/* unvisited link */
#nav a:link {
    color: black;
}

/* visited link */
#nav a:visited {
    color: black;
}

/* mouse over link */
#nav a:hover {
    color: yellow;
}

/* selected link */
#nav a:active {
    color: pink;
}

/* ------------------------------ */

#body-container {
	width: 650px;
	margin: 0 auto;
}



#body-container p {
	text-align: center;
}


div.image-cropper img {
    display: block;
    margin: 0 auto;
		clear: both;
}

div.image-cropper img.rounded{
    width: 100px;
    height: 100px;


    /*position: relative;*/
    /*overflow: hidden;*/
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
